* {
  box-sizing: border-box;
}
.container {
  height: 300px;
  width: 100%;
  border: 2px solid orange;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.box {
  width: 100px;
  height: 100px;
  border: 2px solid grey;
}
